__pycache__
.vs
.ipynb_checkpoints
.DS_Store
liver-imaging-analysis/engine/.vs/
tests/__pycache__/
liver-imaging-analysis/engine/.ipynb_checkpoints/
liver-imaging-analysis/engine/TestDataset/
liver-imaging-analysis/engine/model_dicts
liver-imaging-analysis/engine/model_checkpoint.pth.tar
liver-imaging-analysis/engine/Best_epoch
liver-imaging-analysis/engine/First_epoch
liver-imaging-analysis/engine/runs/
model_checkpoint.zip
final epoch2
runs
potential_checkpoint
model_checkpoint
tensorboard
Temp2D
lesion_cp
liver_cp
main.ipynb
Liver Segmentation4Res_0.06loss_0.92Score
test cases
model.pt
liver_cp_sliding_window
lobe_cp
mri_cp
spleen_cp
lobe_cp_sliding_window
.vscode/
