{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-10">
        <div class="card w-75 px-3 py-3 text-center my-5" id="about-card">
            <div class="card-body my-5">
                
                <h1 class="card-title">About this project</h1>
                <div class="my-2">
                    <img style="max-width: 600px; width: 100%;" src="{{ url_for('static', filename='img/flask+pytorch.png') }}" alt="">
                </div>
                <p class="card-text">Liver Segmentation using deep learning models</p>
                <p>
                    this is only a prototype and it's not meant to be published publicly
                </p>    
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endblock %}