
{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/css/form_styles.css">

<div class="container">  
    <form  id="contact"  method="post">
      <h3>Patient information</h3>
      <h4></h4>
      <fieldset>
        <input name="name" placeholder="Patient name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input name="age" placeholder="Age" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input type="radio" id="male" name="gender" value="male">
          <label for="male">Male</label><br>
        <input type="radio" id="female" name="gender" value="female">
          <label for="female">Female</label><br>
      </fieldset>
      <fieldset>
        <input name="phone" placeholder="Phone Number" type="tel" tabindex="4" required>
      </fieldset>
      <fieldset>
        <textarea placeholder="Notes" tabindex="6" required></textarea>
      </fieldset>
      <fieldset>
        <button href="/table"  name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
   
  </div>
{% endblock %}