{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 my-5" id="column-title">
      <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4 p-2" style=" font-family: 'Gloock', serif;">
          Liver Segmentation
        </h1>
        <p id="index-p">
          Browse to your abdomen volume and click upload to view the Segmented Liver
          <br><br>
        </p>
      </div>
    </div>; 
  </div>
  <div class="row">
    <div class="mb-2 col-md-6 offset-md-3">
      <form action="/infer" method="POST" enctype="multipart/form-data">
        <div class="input-group">
          <div class="custom-file" style="background-color: grey;">
            <input type="file" name="file" accept=".nii" class="custom-file-input" id="inputGroupFile"
              aria-describedby="inputGroupFileAddon04">
            <label class="custom-file-label" for="inputGroupFile">Choose file</label>
          </div>
          <div class="input-group-append">
            <input type="submit" value="Upload" class="btn" type="button"
              id="inputGroupFileAddon04" style="background-color: #7474a7; color: white; "/>
          </div>
        </div>
      </form>
    </div>
  </div>
  
</div>
</div>
<div class="container-fluid">
  <div class="row my-5" >
    <div class="col-12 text-center py-2" >
      <center>
        <p id="p-text">
          This project is just a prototype to show the work and it's not for public publishing 
        </p>
      </center>
    </div>
  </div>
</div>
<div class="container">
{% endblock %}