{% extends 'base.html' %}
{% block content %}



<br>
<br>
<br>
<br>

<div style="position: relative;">    
    <div class="box">
        <select id="mySelect" onchange="myFunction">
            <option value="2">Axial</option>
            <option value="1">Coronal</option>
            <option value="0">Sagittal</option>
        </select>
    </div>
</div>


<br>
<br>


<script type="text/javascript" src="./static/libgif.js"></script>
<script type="text/javascript" src="./static/rubbable.js"></script>


<script>
    var node;
    var clone;
    var sup1;
    var sup2;
    let gifWrapper,clonedGifWrapper,center;

</script>

<!-- <div class="container p-5">   -->



    


    <div class="row">
        <div class="col">
            <center id="center">
                

                <div  style="margin-top: 5px;">
                    <a href="javascript:;" class="btn btn-dark my-1" id="pause">Pause</a> |
                    <a href="javascript:;" class="btn btn-dark my-1"id="play">Play</a> |
                    <a href="javascript:;" class="btn btn-dark my-1"id="forward">Step forward</a> |
                    <a href="javascript:;" class="btn btn-dark my-1"id="backward">Step back</a>
                </div>
                <br >
                <br >
                <a  href="/TumorRoute" id="TumorRoute" "> Press to visualize tumors</a>
            
                
                <div class="gif_wrapper" id="gif_wrapper" style="width: 800px; display: flex; margin-top: 15px;">
                    <div>
                       <p style="color: black;">Overlay</p>
                       <img style="max-height: 250px;" id="overlay" src="static\axial\OverlayGif.gif" alt="this slowpoke moves" class="controled_image" />
                    </div>
                    <div>
                        <p style="color: black;">Original</p>
                        <img  style="max-height: 250px;" id="oringinal" src="static\axial\OriginalGif.gif" alt="this slowpoke moves" class="controled_image" />
                    </div>
                </div>
            </center>
        </div>
    </div>

</div> 


<script>
    gifWrapper = document.getElementById("gif_wrapper");
    center = document.getElementById("center");
    clonedGifWrapper = gifWrapper.cloneNode(true);
    sup1 = new SuperGif({ gif: document.getElementById('overlay') } );
    sup1.load();
    sup2 = new SuperGif({ gif: document.getElementById('oringinal') } );
    sup2.load();
    const selectElement = document.querySelector('#mySelect');
    async function myFunction(e) {
        const choosenVal = e.target.value
        const response = await fetch(`/views?view=${choosenVal}`, {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
        });
        const data = await response.json();
        gifWrapper.remove()
        gifWrapper = clonedGifWrapper.cloneNode(true);
        center.appendChild(gifWrapper)
        const orignal_image = document.querySelector('#oringinal');
        const overlay_image = document.querySelector('#overlay');
        orignal_image.src= data[1];
        overlay_image.src=data[0];
        sup1 = new SuperGif({ gif: document.getElementById('overlay') } );
        sup1.load();
        sup2 = new SuperGif({ gif: document.getElementById('oringinal') } );
        sup2.load();

    }
    selectElement.addEventListener('change',myFunction );

    const pauseElement = document.querySelector('#pause');
    function pausHandler(params) {
        sup1.pause();sup2.pause(); return false; 
    }
    pauseElement.addEventListener('mousedown',pausHandler );

    const playElement = document.querySelector('#play');
    function playHandler(params) {
        sup1.play();sup2.play(); return false;
    }
    playElement.addEventListener('mousedown',playHandler );

    const forwardElement = document.querySelector('#forward');
    function forwardHandler(params) {
        sup1.move_relative(1);sup2.move_relative(1); return false;
    }
    forwardElement.addEventListener('mousedown',forwardHandler );

    const backwardElement = document.querySelector('#backward');
    function backwardHandler(params) {
        sup1.move_relative(-1);sup2.move_relative(-1); return false;
    }
    backwardElement.addEventListener('mousedown',backwardHandler );


</script>


{% endblock %}

