{% extends 'base.html' %}

{% block content %}
    <style >
        
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    tr:nth-child(odd) {
      background-color: #c187d9;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-8">
            <br>
                <h1 h2="h2" style="font-size:35px;">
                    Patient profile
                </h1>
                <ul>
                    {% for patient_data in patient_data %}
                        <li>
                            <strong>{{ patient_data[0] }}</strong>
                            <span>{{ patient_data[1] }}</span>

                        </li>
                    {%endfor%}
                </ul>
                    <div class="card my-3" id="report-card">
                        <div class="card-header" align="center" style="font-family: 'Tinos', serif;font-size:25px;">
                            Analysis Report
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5" >
                                    <h2 style="font-family: 'Tinos', serif;font-size:25px;">
                                        Global Measurements
                                    </h2>
                                    <table>
                                        <tr>
                                            <th>
                                                Liver Volume (cm<sup>3</sup>)
                                            </th>
                                            <!-- <th>
                                              Spleen Volume
                                            </th>
                                            <th>
                                              Spleen Attenuation
                                            </th> -->
                                        </tr>
                                        <tr>
                                            <td>{{rep["Liver Volume"]}}</td>
                                            <!-- <td>{{rep["Spleen Volume"]}}</td>
                                            <td>{{rep["Spleen Attenuation"]}}</td> -->
                                            
                                        </tr>
                                        {% if rep['Liver/Spleen Attenuation Ratio'] is defined %}
                                           <tr>
                                            <th> Spleen Volume (cm<sup>3</sup>)</th>
                                           </tr>
                                           <tr>
                                            <td>
                                                {{rep["Spleen Volume"]}}
                                            </td>
                                           </tr>
                                           <tr>
                                            <th>Spleen Attenuation</th>
                                           </tr>
                                           <tr>
                                            <td>
                                                {{rep["Spleen Attenuation"]}}
                                            </td>
                                           </tr>
                                           <tr>
                                            <th>Attenuation Ratio</th>
                                           </tr>  
                                           <tr>
                                            <td>
                                                {{rep['Liver/Spleen Attenuation Ratio']}}
                                            </td>
                                           </tr>
                                        {% else %}
                                            <tr>
                                                <th>
                                                    Liver Attenuation
                                                </th>
                                            </tr>
                                            <tr>
                                                <td>{{rep["Liver Attenuation"]}}</td>
                                            </tr>
                                        {% endif %}
                                        
                                    </table>
                                </div>
                                <div class="col">
                                  <h2 style="font-family: 'Tinos', serif;font-size:25px;">
                                    Liver Segmentation
                                  </h2>
                                  <img  src="{{ liver_slice }}" alt="My Image" id="liver_image" >
                                  
                                </div>

                            </div>
                            <hr class="rounded">
                            <h2 style="font-family: 'Tinos', serif;font-size:25px;">
                                Lesion Analysis
                            </h2>
                            <!-- <h4 style="font-family: 'Tinos', serif;font-size:18px;">
                                Lesion Analysis
                            </h4> -->
                            
                            <table>
                                <tr>
                                    <th>
                                        Lesion Number
                                    </th>
                                    <th>
                                        Major Axis (mm)
                                    </th>
                                    <th>
                                        Minor Axis (mm)
                                    </th>
                                    <th>
                                        Volume (cm<sup>3</sup>)
                                    </th>
                                </tr>
                                {% for lesion, info in rep["Lesions Information"].items() %}
                                    <tr>
                                        <td>Lesion
                                            {{lesion}}
                                        </td>
                                        <td>{{ info["Major Axis"] }}</td>
                                        <td>{{ info["Minor Axis"] }}</td>
                                        <td>{{ info["Volume"] }}</td>
                                    </tr>
                                    {%endfor%}
                                </table>
                                <h5>
                                    Sum of longest diameters:
                                    {{rep["Sum Of Longest Diameters"]}}
                                    mm
                                </h5>
                                <h4 style="font-family: 'Tinos', serif;font-size:18px;">
                                    Lesions' Visualization
                                </h4>
                                {% if my_flag %}
                                    <img src="{{ tumor_path }}" alt="My Image" style="max-width:100%;">
                                    <p style="font-family: 'Tinos', serif; text-align:center;">
                                        Lesion #2 zoomed in
                                    </p>
                                    <br>
                                    <img src="../static/report_slices/contour_grid.jpg" alt="All lesions" style="max-width:100%;">
                                    <p style="font-family: 'Tinos', serif; text-align:center;">
                                        All lesions starting from lesion #1 (in top left corner) to lesion #{{rep["Lesions Information"]|length}} in bottom right
                                    </p>
                                    {% else %}
                                        <p>No Lesions To Show</p>
                                    {% endif %}
                                    <!-- lobes -->
                                    <hr class="rounded">
                                    <h2 style="font-family: 'Tinos', serif;font-size:25px;">
                                        Lobar Analysis
                                    </h2>
                                    <!-- <h4 style="font-family: 'Tinos', serif;font-size:18px;">
                                        Lobar Analysis
                                    </h4> -->
                                    <table>
                                        <tr>
                                            <th>
                                                Lobe</th>
                                            <th>
                                                Lobe Volume (cm<sup>3</sup>)</th>
                                            <th>
                                                Attenuation Ratio</th>
                                        </tr>
                                        {% for lobe, data in rep["Each Lobe/Spleen Attenuation Ratio"].items() %}
                                            <tr>
                                                <td>{{ lobe }}</td>
                                                <td>{{ rep["Each Lobe Volume"][lobe] }}</td>
                                                <td>{{ data }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                    <h5 style="font-family: 'Tinos', serif;font-size:26px;">
                                        LSVR Metric :
                                        {{rep["LSVR Metric"]}}
                                    </h5>
                                    <h4 style="font-family: 'Tinos', serif;font-size:18px;">
                                        Lobes Visualization
                                    </h4>
                                    <img  class="card_img" src="{{ lobes_path }}" alt="My Image" style="max-width:100%;">
                                        <div>
                                            <br>
                                            <hr class="rounded">
                                                <h2 style="font-weight:bolder; font-family: 'Tinos', serif; font-size:25px;">
                                                    Patient Report
                                                </h2>
                                                <h4 style="font-weight:bolder; font-family: 'Tinos', serif; font-size:15px; color:red;">
                                                  Automatically generated by GPT-3 model with known clinical guidelines.
                                                </h4>
                                                <p style="font-family: 'Tinos', serif;">
                                                    {{rep["msg"]}}
                                                </p>
                                            </div>
                                            <div>
                                                <a class="btn btn-dark my-2" href="/pdf" id="dark1">Download as pdf</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col"></div>

                            </div>

                        </div>


{% endblock %}